node_modules
dist
dist-sender
out
.DS_Store
.eslintcache
*.log*
*.log
remote-message.log
system-status.log
remote-message-config.json
app-settings.json
app-usage.json
.env
.env.*
!.env.example
sender-web/.env
sender-web/.env.*
!sender-web/.env.example
